<div class="flex">
  <h2>NOSSOS EVENTOS</h2>
  <p>Conforme são realizados os eventos, esta página será atualizada com suas informações.</p>

  <div class="eventos">

    <div class="title">
      <h2>item.ndddddddddddddddddddddddome</h2>
    </div>

    <div class="info">

      <div class="descr">
        <p> item.descddddddddddddddddddddddddddddd
          dddddddssssssssssssssssssssssssssssssssss
          ssssssssssssssssssssssssssssssssssssssssss
          ssssssssssssssssssssssssssricao</p>
      </div>

      <div class="data">
        <p> item.data </p>
      </div>

      <div class="hora">
        <p>item.descricao</p>
      </div>

      <div class="status">
        <p>item.status</p>
      </div>

    </div>
  </div>

</div>
