<div class="top">
  <h2>SOBRE O CODE ROSA </h2>

  <p id="info">O Code Rosa é um projeto com iniciativa de alunas do curso de Sistemas de
    Informação (SI) da Unifacisa, localizada na Cidade de Campina Grande – Paraíba, que
    tem como principal objetivo promover o engajamento feminino nos cursos da área de
    Computação, assim como, motivar aquelas que já optaram pela área a continuarem na
    carreira escolhida.</p>

</div>
<div class="flex">

  <div class="info">

    <img src="../../../assets/mission.svg" alt="">

    <h3>Missão</h3>
    <p>através das ações do Code Rosa quebrar paradigmas na sociedade com relação à presença
      feminina na área de TI. Incentivar o ingresso feminino nos cursos da área de Tecnologia da Informação
      (TI), além de promover engajamento e motivação aquelas que já optaram pela área.</p>

  </div>

  <div class="info">

    <img src="../../../assets/perception.svg" alt="">


    <h3>Visão</h3>
    <p>aumentar o número de integrantes no projeto Code Rosa, assim como, a porcentagem feminina nos
      cursos da área e no mercado de trabalho;</p>

  </div>

  <div class="info">

    <img src="../../../assets/values.svg" alt="">


    <h3>Valores</h3>
    <p>compromisso, proatividade, respeito, igualdade, dedicação para com o melhoramento pessoal e
      do time, busca e compartilhamento de informação, trabalho em equipe.</p>

  </div>


</div>
