/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
 }


 .mat-toolbar.mat-primary {
  background: #8b3d89;
  color: #fff;
  position: fixed;
  z-index: 10;
}


.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
  transform: none !important;
}
